.empty{
    width: x1350p;
    background-color: #1B7ED4;
    color : #1B7ED4;
    padding-bottom: 100px;
}

h1 {
   color: black;
   font-family: 'Staatliches';
}

div.top a {
   position: fixed;
   left:325px;
   bottom:230px;
   color:#0E1922;
   font-family: 'Staatliches';
}

div.med, h3 a  {
   position: fixed;
   left:100px;
   bottom: 170px;
   color:#0E1922;
   font-family: 'Staatliches';
}

.post h2 {
   color: #1FDE31;
}

div.messages {
    position:fixed;
    left:30px;
    bottom:90px
}
