{% load static %}
<!DOCTYPE html>
<html>  
    <head>
        <link rel="stylesheet" href="{% static 'css/funzione.css' %}">
        <title>BlogChain</title>
    </head>
    <body>
         <header>
           <div class="empty">
               <p>vuoto</p>
           </div>
         </header>
              <h1><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">Log in</h1>
              <form method="POST">{% csrf_token %}
                    <p>
                       {{form.as_p }}
                    </p>
              <button style="background-color:#1B7ED4; color:white" type="submit";>Log in</button>        
     </body>
</html>