{% load static %}
<!DOCTYPE html>
<html>  
    <head>
        <link rel="stylesheet" href="{% static 'css/funzione.css' %}">
        <title>BlogChain</title>
    </head>
    <body>
         <header>
           <div class="empty">
               <p>vuoto</p>
           </div>
         </header>
              <h1><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">You've successfully logged out!</h1>
            <br>
            <a style="color:#0E1922; text-transform: uppercase; font-family:Staatliches; font-size:26px" href="/">homepage</a>        
            </br>    
    </body>
</html>