{% load static %}
<!DOCTYPE html>
<html>    
    <head>
        <link rel="stylesheet" href="{% static 'css/funzione.css' %}">
        <title>BlogChain</title>
    </head>
    <body>
         <header>
               <div class="empty">
               <p>empty</p>
               </div>
         </header>
             
              <h1 style="font-size:100px"><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">Welcome on Blog-Chain !</h1> 
              <div class="top">
              <h2 style="font-size:50px"><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"><a href='http://127.0.0.1:8000/register'>Sign in</a></h2>
              </div>
              <div class="med"
              <h3 style="font-size:45px"><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">If you already have an account <a href='http://127.0.0.1:8000/login'>Log in</a></h3>
              </div>              
              {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <p style="font-family:Open Sans;font-size:30px; text-decoration:underline" class="{{ message.tags }}">{{ message }}</p>
              </div>
                {% endfor %}       
              {% endif %}
</html>